# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [11]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chippo = pd.read_csv(url, delimiter = '\t')

chippo.columns
chippo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [14]:

# Clean the 'price' column by removing non-numeric characters and converting to float
chippo['item_price'] = chippo['item_price'].str.replace('$', '').str.strip().astype(float)
# .str.strip() = remove any leading or trailing whitespace that might exist in the cleaned strings.
# .astype(float) = suitable for numeric comparison 


# Count the products where the price is greater than 10 USD
products_above_10_usd = chippo[chippo['item_price'] > 10]

# Get the count of products above 10 USD
count_products_above_10_usd = products_above_10_usd.shape[0]

# Print the count
print("Number of products above 10 USD:", count_products_above_10_usd)

Number of products above 10 USD: 1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
chippo['item_name'], ['item_price']

(0                Chips and Fresh Tomato Salsa
 1                                        Izze
 2                            Nantucket Nectar
 3       Chips and Tomatillo-Green Chili Salsa
 4                                Chicken Bowl
                         ...
 4617                            Steak Burrito
 4618                            Steak Burrito
 4619                       Chicken Salad Bowl
 4620                       Chicken Salad Bowl
 4621                       Chicken Salad Bowl
 Name: item_name, Length: 4622, dtype: object,
 ['item_price'])

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?