# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [7]:
# Read the .tsv file into a DataFrame

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [8]:
chippo = pd.read_csv(url, delimiter = '\t')

### Step 4. See the first 10 entries

In [9]:
chippo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
# Solution 1
print(f'Solution 1: number of observation is ', chippo.shape[0])

chippo.info()
chippo.columns

Solution 1: number of observation is  4622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [22]:
# Solution 2
print(f'Solution 2: number of observation is', len(chippo))

Solution 2: number of observation is 4622

### Step 6. What is the number of columns in the dataset?

In [24]:
print(f'Solution 1: number of colum is ', chippo.shape[1])

Solution 1: number of colum is  5

### Step 7. Print the name of all the columns.

In [26]:
print(f'Name of all colums are', chippo.columns.tolist())

Name of all colums are ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [27]:
print(f'Index info is', chippo.index)

Index info is RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [16]:

# Use the value_counts() function to count the occurrences of each item
item_counts = chippo['item_name'].value_counts()

# Find the most ordered item (the item with the highest count)
most_ordered_item = item_counts.idxmax()

print("Most ordered item:", most_ordered_item)

items_quantity = chippo.groupby(['item_name']).agg({'quantity': 'sum'})
items_quantity.sort_values('quantity', ascending=False)[:1]

Most ordered item: Chicken Bowl

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [30]:
most_ordered_item_count = item_counts.max()
print("Number of times ordered:", most_ordered_item_count)

Number of times ordered: 726

### Step 11. What was the most ordered item in the choice_description column?

In [17]:
# count the occurrences of each choice_description
choice_counts = chippo['choice_description'].value_counts()

# Find the most ordered choice_description (the one with the highest count)
#  idxmax() to find the index (choice description) with the maximum count, which corresponds to the most ordered choice description.
print("Most ordered choice_description:", choice_counts.idxmax())
print("Number of times ordered:", choice_counts.max())

items_quantity = chippo.groupby(['choice_description']).agg({'quantity': 'sum'})
items_quantity.sort_values('quantity', ascending=False)[:1]

Most ordered choice_description: [Diet Coke]
Number of times ordered: 134

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [18]:
print(f'Total number of items ordered:', chippo['item_name'].value_counts().sum())

chippo.quantity.sum()

Total number of items ordered: 4622

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [20]:
chippo['item_price'] = chippo.item_price.str.slice(1).astype(float)
pd.to_numeric
chippo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

In [33]:
change_to_float = lambda item: float(item[1:])
chippo['item_price1'] = chippo.item_price.apply(change_to_float)
#[:5]

TypeError: 'float' object is not subscriptable

#### Step 13.c. Check the item price type

In [34]:
chippo['item_price'].type()

AttributeError: 'Series' object has no attribute 'type'

### Step 14. How much was the revenue for the period in the dataset?

In [35]:
chippo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [36]:
chippo['quantity'].sum()

4972

### Step 16. What is the average revenue amount per order?

In [43]:
# Solution 1
chippo.columns.to_list
chippo.head(1)
chippo['item_price'].sum() /chippo['quantity'].sum()

6.938889782783589

In [47]:
# Solution 2
chippo['item_price'].mean()

7.464335785374297

### Step 17. How many different items are sold?

In [48]:
chippo.head(1)
chippo['item_name'].nunique()
#chippo['item_name'].value_counts()

50